<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">

    <!--favicon icon-->
    <link rel="icon" type="image/png" href="../../static/adminResources/images/favicon.png">

    <title>Welcome</title>

    <!--web fonts-->
    <link href="//../../static/fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800" rel="stylesheet">
    <link href="//../../static/fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

    <!--bootstrap styles-->
    <link href="../../static/adminResources/css/bootstrap.min.css" rel="stylesheet">

    <!--icon font-->
    <link href="../../static/adminResources/css/font-awesome.min.css" rel="stylesheet">
    <link href="../../static/adminResources/css/dashlab-icon.css" rel="stylesheet">
    <link href="../../static/adminResources/css/simple-line-icons.css" rel="stylesheet">
    <link href="../../static/adminResources/css/themify-icons.css" rel="stylesheet">
    <link href="../../static/adminResources/css/weather-icons.min.css" rel="stylesheet">

    <!--custom scrollbar-->
    <link href="../../static/adminResources/css/jquery.mCustomScrollbar.css" rel="stylesheet">

    <!--jquery dropdown-->
    <link href="../../static/adminResources/css/jquery.dropdown.css" rel="stylesheet">

    <!--jquery ui-->
    <link href="../../static/adminResources/css/jquery-ui.min.css" rel="stylesheet">

    <!--iCheck-->
    <link href="../../static/adminResources/css/_all.css" rel="stylesheet">

    <!--data table-->
    <link href="../../static/adminResources/css/dataTables.bootstrap4.min.css" rel="stylesheet">

    <!--custom styles-->
    <link href="../../static/adminResources/css/main.css" rel="stylesheet">

</head>

<body class="fixed-nav">

    <!--navigation : sidebar & header-->
    {% include 'user/header.html' %}

        <!--responsive nav toggle-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--/responsive nav toggle-->

        <!--responsive rightside toogle-->
        <a href="javascript:;" class="nav-link right_side_toggle responsive-right-side-toggle">
            <i class="icon-options-vertical"> </i>
        </a>
        <!--/responsive rightside toogle-->

        <div class="collapse navbar-collapse" id="navbarResponsive">

            <!--left side nav-->
            {% include 'user/menu.html' %}
    {% include 'user/headRightsidelink.html' %}
            <!--/header rightside links-->

        </div>
    </nav>
    <!--/navigation : sidebar & header-->

    <!--main content wrapper-->
    <div class="content-wrapper">

        <div class="container-fluid">

            <!--page title-->
            <div class="page-title mb-4 d-flex align-items-center">
                <div class="mr-auto">
                    <h4 class="weight500 d-inline-block pr-3 mr-3 border-right">Dashboard</h4>
                    <nav aria-label="breadcrumb" class="d-inline-block ">
                        <ol class="breadcrumb p-0">

                            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>

                    </nav>
                </div>
            </div>
            <!--/page title-->

            <div class="row">
                <div class="col-xl-12">
                    <div class="card card-shadow mb-4">
                        <div class="card-header border-0">
                            <div class="custom-title-wrap bar-primary">
                                <div class="custom-title">Dashboard</div>
                            </div>
                        </div>
                        <div class="card-body- pt-3 pb-4" style="left: 40%;padding-left: 14px; padding-right: 14px;">


                            <p>Sign Language (SL) is the natural way of communication of hearing and/or speech -impaired people. A sign is a movement of one or both hands, accompanied with facial expression, which corresponds to a specific meaning. The dumb faces serious challenge in communicating the deaf community trying to integrate into educational, social and work environments. The overall goal of this project is to develop a new vision based technology for recognizing and translating continuous sign language to text & Speach.</p>



                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!--footer-->
        {%  include 'user/footer.html' %}
        <!--/footer-->
    </div>
    <!--/main content wrapper-->


    <!--basic scripts-->
    <script src="../../static/adminResources/js/jquery.min.js"></script>
    <script src="../../static/adminResources/js/jquery-ui.min.js"></script>
    <script src="../../static/adminResources/js/popper.min.js"></script>
    <script src="../../static/adminResources/js/bootstrap.min.js"></script>
    <script src="../../static/adminResources/js/jquery.dropdown.js"></script>
    <script src="../../static/adminResources/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="../../static/adminResources/js/icheck.min.js"></script>

    <!--datatables-->
    <script src="../../static/adminResources/js/jquery.dataTables.min.js"></script>
    <script src="../../static/adminResources/js/dataTables.bootstrap4.min.js"></script>
    <!--init datatable-->
    <script src="../../static/adminResources/js/init-datatable.js"></script>
    <script src="../../static/adminResources/js/scripts.js"></script>
</body>
</html>

